@{
    ViewBag.Title = "Hỏi & Đáp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container" id="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Hỏi đáp</h4>
            </div>
        </div>
        <div class="Compose-Message" style="width: 70%">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Soạn tin nhắn
                </div>
                <div class="panel-body">
                    <label>Email : </label>
                    <input type="text" class="form-control">
                    <label>Tiêu đề :  </label>
                    <input type="text" class="form-control">
                    <label>Nội dung : </label>
                    <textarea rows="9" class="form-control"></textarea>
                    <hr>
                    <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>Gửi tin nhắn </a>
                </div>
                <div class="panel-footer text-muted">
                    <strong>Lưu ý: </strong>Xin lưu ý rằng theo dõi tất cả các tin nhắn rác.
                </div>
            </div>
        </div>
    </div>
</div>
