@model QLSV.Web.Models.Aspuser
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container" id="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Thông tin cá nhân</h4>
            </div>
        </div>
        <fieldset class="forms">
            <table class="tabledetails" width="70%">
                <tr>
                    <td style="width: 150px;">
                        <label>Ma SV</label>
                    </td>
                    <td>
                        @Model.Username
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Họ tên</label>
                    </td>
                    <td>
                        @Model.HoTen
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Lớp</label>
                    </td>
                    <td>
                        @Model.Lop
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Ngày sinh</label>
                    </td>
                    <td>
                        @Model.NgaySinh
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->