@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
<header class="bg-blue dk header navbar navbar-fixed-top-xs">
    <div class="navbar-header aside-xxl">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="navbar-brand" @*data-toggle="fullscreen"*@ style="color: #FFFFFF">
            University of Civil Engineering</a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
            <i class="fa fa-cog"></i>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
        <li class="hidden-xs">
            <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
                <i class="fa fa-bell"></i>
                <span class="badge badge-sm up bg-danger m-l-n-sm count">2</span>
            </a>
            <section class="dropdown-menu aside-xl">
                <section class="panel bg-white">
                    <header class="panel-heading b-light bg-light">
                        <strong>You have <span class="count">2</span> notifications</strong>
                    </header>
                    <div class="list-group list-group-alt">
                        <a href="#" class="media list-group-item">
                            <span class="pull-left thumb-sm">
                                <img src="/Skin/images/avatar.jpg" alt="John said" class="img-circle">
                            </span>
                            <span class="media-body block m-b-none">Use awesome animate.css<br>
                                <small class="text-muted">10 minutes ago</small>
                            </span>
                        </a>
                        <a href="#" class="media list-group-item">
                            <span class="media-body block m-b-none">1.0 initial released<br>
                                <small class="text-muted">1 hour ago</small>
                            </span>
                        </a>
                    </div>
                    <footer class="panel-footer text-sm">
                        <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                    </footer>
                </section>
            </section>
        </li>
        <li class="dropdown hidden-xs">
            <a href="http://nuce.edu.vn/" class="dropdown-toggle" target="_black"><i class="fa fa-home"></i></a>
        </li>
    </ul>
</header>
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xxl">
        <section class="panel panel-default bg-white m-t-lg">
            <header class="panel-heading text-center">
                <strong>ĐĂNG NHẬP</strong>
            </header>
            <form action="" class="panel-body wrapper-lg" method="post">
                <input type="hidden" id="itemUrl" name="itemUrl" value="/Admin" />
                <div class="form-group">
                    <div class="col-lg-10">
                    </div>
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control input-lg" data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" placeholder="Username" type="text" value="" />
                </div>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input class="form-control input-lg" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password" />
                </div>
                <div class="form-group">
                    <div class="checkbox col-sm-8">
                        <label>
                            <input style="margin-top: 2px;" id="RememberMe" name="RememberMe" type="checkbox" value="true" />Nhớ lần đăng nhập sau
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @*<a href="#" class="btn btn-primary m-r-n">Đăng nhập</a>*@
                        <button type="submit" class="btn btn-primary m-r-n">Đăng nhập</button>
                    </div>
                </div>
                <div class="form-group text-left" style="color: red; float: left;">
                </div>
            </form>
        </section>
    </div>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder">
        <p>
            <small>Đại học xây dựng &copy; @DateTime.Now.Year</small>
        </p>
    </div>
</footer>
<!-- / footer -->
