/*style cho grid view*/

.close-open {
    margin-bottom: 5px;
}
    .close-open a {
        color: #D00000;
    }

        .close-open a:hover {
            color: #222;
        }

.hidden {
    display: none !important;
}

.gridView {
    width: 100%;
    background: #fff;
    border: 1px solid #eaeaea;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
}

    .gridView th {
        background: none repeat scroll 0 0 #F5F5F5;
        overflow: hidden;
        text-align: left;
        border-bottom: 1px solid #eaeaea;
        border-spacing: 0px;
        padding: 8px 12px;
        font-weight: bold;
    }

        .gridView th a,
        .gridView th a:link,
        .gridView th a:visited {
            text-decoration: none;
            color: #3B7EB1;
            display: block; /*padding-right:12px;*/
        }

            .gridView th a:hover {
                color: #082977;
            }

            .gridView th a span {
                width: 16px;
                height: 16px;
                float: right;
            }

            .gridView th a.asc span {
                display: block;
                background: url("../Images/gridview/icon.png") no-repeat scroll left -1194px transparent;
            }

            .gridView th a.desc span {
                display: block;
                background: url("../Images/gridview/icon.png") no-repeat scroll left -1151px transparent;
            }

    .gridView td {
        background: #fff;
        border-bottom: 1px solid #EAEAEA;
        border-spacing: 0;
        display: table-cell;
        padding: 4px 12px;
        vertical-align: middle !important;
    }

    .gridView .act_active {
        vertical-align: middle !important;
    }

    .gridView td a, .gridView td a:link, .gridView td a:visited {
        color: #004781;
        font-weight: bold;
    }

        .gridView td a:hover {
            color: #111;
        }

    .gridView .odd td {
        background: #fafafa;
    }

    .gridView tr:hover td {
        background: #E7F6FD;
    }

    .gridView .hightlight td {
        background: #FFFAB5 !important;
    }

    .gridView .hide {
        display: none;
    }

    .gridView a.hide {
        display: block;
    }

    .gridView .show {
        display: block;
    }

    .gridView a.group {
        color: #A52A2A !important;
        font-weight: bold;
        font-size: 14px;
        display: block;
        padding: 0px 5px;
        float: left;
    }

.quickFilter {
    display: inline-block;
    margin-bottom: 10px;
}

    .quickFilter span {
        font-weight: bold;
    }

    .quickFilter input[type=text], .quickFilter select {
        padding: 3px;
        border: 1px solid #ccc;
        font-family: Tahoma;
        font-size: 12px;
        color: #666;
        width: 120px;
    }

    .quickFilter select {
        padding: 2px 3px;
        width: 125px;
    }

.bottom-pager {
    display: inline-block;
    clear: both;
    font-family: Tahoma;
    width: 100%;
}

    .bottom-pager .left {
        float: left;
        padding: 2px 3px;
    }

    .bottom-pager .right {
        float: right;
        padding: 2px 3px;
    }

    .bottom-pager span, .bottom-pager a, .bottom-pager input {
        margin-right: 5px;
    }

    .bottom-pager span {
        float: left;
        font-weight: bold;
        font-size: 11px;
    }

    .bottom-pager input {
        float: left;
        width: 18px !important;
        height: 16px !important;
        border: 1px solid #ccc;
        font-size: 11px;
        padding: 1px !important;
    }

    .bottom-pager select {
        float: left;
        width: 50px !important;
        height: 22px !important;
        border: 1px solid #ccc;
        font-size: 11px;
        padding: 2px !important;
    }

    .bottom-pager a {
        float: left;
        display: block;
        width: 21px;
        height: 21px;
    }

        .bottom-pager a.first {
            background: url("gridview/icon.png") no-repeat scroll left -74px transparent;
        }

            .bottom-pager a.first:hover {
                background: url("gridview/icon.png") no-repeat scroll left -101px transparent;
            }

        .bottom-pager a.first-disable {
            background: url("gridview/icon.png") no-repeat scroll left -128px transparent;
        }

        .bottom-pager a.pre {
            background: url("gridview/icon.png") no-repeat scroll left -392px transparent;
        }

            .bottom-pager a.pre:hover {
                background: url("gridview/icon.png") no-repeat scroll left -419px transparent;
            }

        .bottom-pager a.pre-disable {
            background: url("gridview/icon.png") no-repeat scroll left -446px transparent;
        }

        .bottom-pager a.next {
            background: url("gridview/icon.png") no-repeat scroll left -286px transparent;
        }

            .bottom-pager a.next:hover {
                background: url("gridview/icon.png") no-repeat scroll left -313px transparent;
            }

        .bottom-pager a.next-disable {
            background: url("gridview/icon.png") no-repeat scroll left -340px transparent;
        }

        .bottom-pager a.last {
            background: url("gridview/icon.png") no-repeat scroll left -180px transparent;
        }

            .bottom-pager a.last:hover {
                background: url("gridview/icon.png") no-repeat scroll left -207px transparent;
            }

        .bottom-pager a.last-disable {
            background: url("gridview/icon.png") no-repeat scroll left -234px transparent;
        }

th.act_edit a, th.act_deleteact_approved a, th.act_delete a {
    padding: 0 3px;
}

td.act_view, td.act_delete, td.act_edit, td.act_approved, td.act_roles, td.act_show, td.act_hide, td.act_sort, th.act_add th.act_view, th.act_delete, th.act_edit, th.act_approved, th.act_roles, th.act_show, th.act_hide, th.act_sort, td.act_add {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    padding: 5px 3px !important;
}

    th.act_active a, th.act_view a, th.act_delete a, th.act_edit a, th.act_approved a, th.act_roles a, th.act_show a, th.act_hide a, th.act_sort a, th.act_add a {
        padding: 0 !important;
    }

    th.act_delete a {
        padding: 0 !important;
    }

        td.act_view a:hover, td.act_delete a:hover, td.act_edit a:hover, td.act_approved a:hover, td.act_roles a:hover, td.act_show a:hover, td.act_hide a:hover,
        th.act_view a:hover, th.act_delete a:hover, th.act_edit a:hover, th.act_approved a:hover, th.act_roles a:hover, th.act_show a:hover, th.act_hide a:hover {
            /*background:#6A7B42;    
    border:1px solid #394716;*/
        }
