@model dynamic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập | Đăng ký thi Toiec</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/Skin/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Skin/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/Skin/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/Skin/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/Skin/css/app.css" type="text/css" />
    <!--[if lt IE 9]>
    <script src="/Skin/js/ie/html5shiv.js"></script>
    <script src="/Skin/js/ie/respond.min.js"></script>
    <script src="/Skin/js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body>
    @RenderBody()
    <!-- / footer -->
    <script src="/Skin/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Skin/js/bootstrap.js"></script>
    <!-- App -->
    <script src="/Skin/js/app.js"></script>
    <script src="/Skin/js/app.plugin.js"></script>
    <script src="/Skin/js/slimscroll/jquery.slimscroll.min.js"></script>

</body>
</html>
